.contenedor-testimonio {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    box-shadow: 0 3px 13px 1px rgba(255, 255, 255, 0.785);
}

.imagen-testimonio {
    width: auto;
    height: 100%;
}

.contenedor-texto-testimonio {
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400px;
    line-height: 1.5rem;
}

.nombre-testimonio {
    font-size: 1.3rem;
}

.cargo-testimonio {
    font-size: 1.3rem;
    margin-top: 15;
    padding-bottom: 3px;
}

.texto-testimonio {
    font-size: 1.1rem;
    text-align: justify;

}